.App {
  display: flex;
  padding: 20px;
  border: 1px solid black;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.box:not(:last-child) {
  margin-right: 20px;
}

.dragging {
  opacity: 0.3;
  transition: opacity 0.3 ease-in;
}
